:root{
    --color-principal: black;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    width: 100vw;
    height: auto;
}
.container-header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(53, 5, 5);
}
.container-logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-logo img{
    width: 40%;
    max-width: 60px;
}
.container-nav{
    width: 50%;
}
.main-nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.main-nav__item{
    padding-right: 1rem;
} 
.main-nav__item a{
    text-decoration: none;
    color: white;
}
.main-nav__item a::after{
    content: " | ";
}
.container-login{
    font-size: 1.6rem;
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.container-login a{
    text-decoration: none;
    color: white;
    width: auto;
    height: auto;
    background-color: var(--color-principal);
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 1.3rem;
}
/*Estilos de main
-----------------------------------------------------*/
.container-main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    font-size: 1.6rem;
}

.container-aside-nav{
    width: 15%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nav-list{
    width: 100%;
    height: 250px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 10rem;
    align-content: center;
    justify-content: space-between;
}
.nav-list-item{
    padding-bottom: 3rem;
}
.container-seccion-principal{
    width: 60%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.container-seccion-principal figure{
    text-align: center;
}
.container-seccion-principal img{
    width: 80%;
    border-radius: 2rem;
}
.container-seccion-principal figcaption{
    font-size: 1.4rem;
}
.container-seccion-principal h2{
    text-align: center;
    padding-bottom: 5rem;
    width: 100%;
}
.container-seccion-principal p{
    text-align: justify;
}
.article-main-1{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}
.article-main-1 h2{
    order: 1;
}
.article-main-1 figure{
    width: 50%;
    order: 2;
} 
.article-main-1 p{
    width: 50%;
    order: 3
} 
.article-main-2{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
}
.article-main-2 h2{
    order: 1;
}
.article-main-2 figure{
    width: 50%;
    order: 3
} 
.article-main-2 p{
    width: 50%;
    order: 2
} 
.container-aside-videos{
    width: 25%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.container-aside-videos h3{
    width: 100%;
    text-align: center;
}
.container-aside-videos video{
    width: 85%;
}
.container-footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    background-color: rgb(53, 5, 5);
    color: white;
    padding: 1rem;
}
.container-footer__autor{
    width: 100%;
    height: 60px;
    order: 1;
}
.container-footer__autor p{
    text-align: center;
    font-size: 1.8rem;
}
.container-footer__email{
    width: 50%;
    height: 40px;
    font-size: 1.5rem;
    order: 2;
    padding-right: 3rem;
}
.container-footer__telefonos{
    width: 50%;
    height: 40px;
    font-size: 1.5rem;
    order: 3;
    padding-left: 3rem;
}
.container-footer__email p{
    text-align: right;
}
.container-footer__telefonos p{
    text-align: left;
}
