:root{
    --color-principal: black;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
.container-header{
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
}
.container-logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-logo img{
    width: 40%;
    max-width: 60px;
}
.container-nav{
    width: 50%;
}
.main-nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.main-nav__item{
    padding-right: 1rem;
} 
.main-nav__item a{
    text-decoration: none;
    color: var(--color-principal);
}
.main-nav__item a::after{
    content: " | ";
}
.container-login{
    font-size: 1.6rem;
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.container-login a{
    text-decoration: none;
    color: white;
    width: auto;
    height: auto;
    background-color: var(--color-principal);
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 1.3rem;
}